
header {
    margin: 10px 0;
}

.logo span {
    font-size: 18px;
}

.flex-grid {
    display: flex;
}

.flex-grid .col {
    flex: 1;
}

.flex-grid-thirds, .flex-grid-21, .flex-grid-halfs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    clear: both;
}

.flex-grid-21 .main-col {
    width: 66%;
}

.flex-grid-21 .small-col {
    width: 33%;
    background: #dfdee6;
    padding: 10px;
}

.flex-grid-thirds .col {
  width: 32%;
}

.flex-grid-halfs .col {
    width: 49.25%;
}



* {
  box-sizing: border-box;
}

body {
    padding: 20px;
}

.flex-grid { 
  margin: 0 0 20px 0;
}

.col {
    background: #dadada;
    padding: 10px;
}

.user {
    float: right;
    position: relative;
}

.user strong {
    float: left;
    display: block;
    margin-right: 20px;
}

.user ul{
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;

}

.user ul li {
    float: left;
    display: block;
    margin-right: 10px;
}

.user .bottom {
    margin-top: 10px;
}

.user .bottom select, .user .bottom span {
    margin-top: 10px;
    margin-right: 10px;

}

.menu-bar {
    background: rgb(1,74,136);
    background: linear-gradient(0deg, rgba(1,74,136,1) 6%, rgba(2,126,236,1) 100%);
    min-height: 40px;
    width: 100%;
    border-radius: 3px;
    display: block;
    padding-left: 10px;
    margin-bottom: 20px;
}

.menu-bar ul {
    margin: 0px;
    padding: 0px;

}

.menu-bar ul li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;

}

.menu-bar ul li a {
    color: #fff;
    padding: 10px 20px 10px 0;
    display: block;
}

.col-header {
    position: relative;
}

.col-header h2 {
    color: #1360a6;
    font-size: 17px;
}

.col-header h2 { 
    float: left;
}

.col-header i {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 54px;
    float: left;
}

.col-header i.openitems { background-image: url(icons/OpenItems.png); }
.col-header i.exposuredata { background-image: url(icons/ExposureData.png); }
.col-header i.incidentsclaims { background-image: url(icons/IncidentsClaims.png); }
.col-header i.keyhazards { background-image: url(icons/KeyHazards.png); }
.col-header i.locations { background-image: url(icons/Locations.png); }
.col-header i.osha { background-image: url(icons/Osha.png); }
.col-header i.policiesprograms { background-image: url(icons/PoliciesProgrms.png); }
.col-header i.serviceteam { background-image: url(icons/ServiceTeam.png); }
.col-header i.fleet { background-image: url(icons/Fleet.png); }
.col-header i.rss { background-image: url(icons/rss.png); }

.col table {
    font-size: 11px;
    border: 1px solid #000;
}

.col-clear {
    clear: both;
    display: block;
    margin-bottom: 20px;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 2px !important;
}

.filter {

    position: absolute;
    top: 15px;
    right: 0px;
}

.filter2 {

    position: absolute;
    top: 45px;
    left: 70px;
}

.date-range-filter {
    width: 60px;
    display: inline-block;
    font-size: 11px;
}

.linkout {
    display: block;
    width: 100%;
    padding: 5px;
    background: #e4e4e3;
    font-size: 11px;
    color: #000;
    border: 1px solid #000;
    border-bottom: 0px;
}

.linkout:hover {
    background: #fff;
    text-decoration: none;
}

.linkout.last {
    border-bottom: 1px solid #000;
}

.white{
    background: #fff;
    padding: 20px 10px;
}

ul.rss {
    margin: 20px 0 0;
    padding: 0px;

}

ul.rss li {
    margin: 0px;
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}

ul.rss li a {
    color: #000;
}

/* Table Styles */
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background: #fff;
}

/* Mobile Styles */
@media (max-width: 700px) {

    .flex-grid-thirds, .flex-grid-21, .flex-grid-halfs {
        display: block;
    }

    .user {
        display: none;
    }

    .flex-grid-thirds .col, .flex-grid-21 .col, .flex-grid-halfs .col {
        width: 100%;
    }

    .flex-grid-21 .main-col {
        width: 100%;
    }

    .flex-grid-21 .small-col {
        width: 100%;
    }

    .col {
        margin-bottom: 20px;
    }

    /*.flex-grid,
    .flex-grid-thirds {
        display: block;
        .col {
        width: 100%;
        margin: 0 0 10px 0;
        }
    }
    */
}

/*
    New Table Styles 10/1/20
*/

tbody {
    display: block;
    max-height: 250px;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
